body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: rgb(49,49,49);
    overflow-x: hidden; /* Prevent horizontal scrolling */

}

.section-concerts{
    margin-top: -170px;
    width: 100%;
    display: block;
    padding-bottom: -75px;
    margin-bottom: -80px;
}

.section-artists{
    margin-top: 150px;
}

h4,h2,small, a{
    margin: 0;
    padding: 0;
}

a{
    text-emphasis: none;
}

.title{
    text-align: center;
    position: relative;
}

.title::after {
    content: "";
    display: block;
    width: 100%; /* The line will have the same width as the carousel */
    height: 3px;
    background-color: #e2dada;
    margin: 10px auto 0; 
}

/*Carousel*/
.carousel{
    width: 90%;
    margin: 0px auto; /*1º up-down / 2º left-right*/
    overflow: hidden;
    position: relative;

}

@media(min-width:768px){ /*responsive*/
    .carousel{
        margin: 0px 60px;
    }
}

.carousel h2 {
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.carousel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow-x: hidden;
}

.carousel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carousel1{
    position: relative;
    width: 210px;
    padding: 0px 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carousel1 h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: #fff;
    padding: 15px;
}

.carousel1 h4 small{
    font-size: 15px;
    display: block;
}

.carousel1 img{
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.artist img{
    border-radius: 50%;  
    object-fit: cover;   
    width: 200px;        
    height: 250px;  
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;  
}

@media(min-width:768px){
    .carousel1{
        width: 275px;
    }

    .artist img {
        width: 50px;
    }

    .carousel1 img {
        width: 250px;
    }
}

.carousel1.concert:hover img{
    transform: scale(0.95);
    transition: 0.4s;
    box-shadow: 
        0 0 10px rgb(215, 209, 209),   
        0 0 20px rgb(215, 209, 209),   
        0 0 30px rgb(215, 209, 209),   
        0 0 40px rgb(215, 209, 209),   
        0 0 50px rgb(215, 209, 209);   
}

/* Style to hide artist name by default */
.carousel1 .artist-name {
    display: none; 
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.3s linear;
}

/* Display the name when hovering over the .artist container */.carousel1.artist:hover .artist-name {
    display: block; 
}

.carousel1.artist:hover img{
    filter: brightness(0.4); /* Darken the image */
}

/*Buttons*/
.carousel-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carousel-arrow:focus{
    outline: 0;
}

.carousel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carousel-prev{
    left: 0px;
}

.carousel-next{
    right: 0px;
}
