
<div class="container mt-4 mb-5">
    <div *ngIf="errorType === 'general'" class="alert alert-danger" role="alert">
        <strong>¡Ups!</strong> Sorry, a general error occurred.
    </div>

    <div *ngIf="errorType === '404'"  role="alert">
        <div class="alert alert-warning" role="alert">
            <strong>Error 404:</strong> Page not found.
        </div>
        <div class="mt-4">
            <a routerLink="/" class="btn">Go to Index</a>
        </div> 
    </div>
    
    <div *ngIf="errorType === 'login'"  role="alert">
        <div class="alert alert-warning" role="alert">
            <strong>Error login:</strong> Invalid credentials.
        </div>
        <div class="mt-4">
            <a routerLink="/login" class="btn">Try again</a> 
        </div> 
    </div> 
</div>
  
  