.alert {
    font-size: 1em;
    text-align: center;
    padding: 20px;
  }
  
  .alert-danger {
    background-color: #d3cca7;
    border-color: #ede8e9;
  }
  
  .alert-warning {
    background-color: #ffa2a2;
    border-color: #e3461f;
  }
  
  .mt-4 {
    margin-top: 2rem;
  }

  .btn {
    color: white;
    background-color: #800080;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background-color: #4B0082;
  }
  