<footer class="bg-dark text-white py-4 mt-auto">
    <div class="container">
      <div class="row align-items-center text-center text-md-start">
        <div class="col-md-6 mb-3 mb-md-0">
          <p class="mb-0">&copy; 2025 TicketZone Fest.</p>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-center justify-content-md-end gap-3">
            <a href="#"><img src="assets/images/Logos/icons8-facebook-48.png" alt="Facebook" class="img-fluid" style="height: 30px;"></a>
            <a href="#"><img src="assets/images/Logos/icons8-twitterx-50.png" alt="Twitter" class="img-fluid" style="height: 30px;"></a>
            <a href="#"><img src="assets/images/Logos/icons8-instagram-48.png" alt="Instagram" class="img-fluid" style="height: 30px;"></a>
            <a href="https://github.com/CodeURJC-DAW-2024-25/webapp10"><img src="assets/images/Logos/icons8-github-30.png" alt="GitHub" class="img-fluid" style="height: 30px;"></a>
          </div>
        </div>
      </div>
    </div>
  </footer>