<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Concert Info - TicketZone Fest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>
    <!--Header-->
    {{>header}}
    <div id="container-concertInfoPage" class="container mt-5">

        <h1 class="mb-4">{{concert.name}}</h1>
        <div class="row">
            <!-- Left side with artist image -->
            <div class="col-md-4">
                <img src="https://img10.hotstar.com/image/upload/f_auto/sources/r1/cms/prod/2685/1710464292685-i"
                    class="img-fluid rounded" alt="Artist Image"
                    style="object-fit: cover; width: 100%; height: auto; aspect-ratio: 12 / 16;">
            </div>

            <!-- Right side concert details -->
            <div class="col-md-8">
                <h4>{{artist.name}}</h4>
                <p>{{artist.description}}</p>

                <h4>Concert Details</h4>
                <p>{{concert.details}}</p>
                <div class="d-flex justify-content-between">
                    <h5>Date: <span>{{concert.date}}</span></h5>
                    <h5>Time: <span>{{concert.time}}</span></h5>
                    <h5>Location: <span>{{concert.location}}</span></h5>
                </div>
                <h4>Location</h4>
                {{#concert.map}}
                <iframe src="{{concert.map}}" allowfullscreen="" loading="lazy"></iframe>
                {{/concert.map}}

                <div class="d-flex align-items-center justify-content-between mt-3">
                    {{#logged}}
                        {{#registered}}
                        <a href="purchasePage.html" class="btn btn-primary mt-3 flex-grow-1 me-2">
                            <i class="bi bi-cart-fill"></i> Purchase Tickets
                        </a>
                        {{/registered}}
                    {{/logged}}

                    {{^logged}}
                    <a href="/login" class="btn btn-secondary">
                        <i class="bi bi-box-arrow-in-right"></i> Log in to Buy
                    </a>
                    {{/logged}}

                    <a href="index.html" class="btn btn-primary mt-3">
                        <i class="bi bi-reply-all-fill"></i> Go back
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Footer-->
    {{>footer}}
</body>

</html>