<header class="header">
    <div class="logo">
        <a href="index.html">
            <img src="/images/whiteHorizontalLogo.png" alt="TICKETZONE FEST Logo">
        </a>
    </div>

    <h1 id="title">TICKETZONE FEST</h1>

    <div class="navButtons">
        {{#logged}}
            {{#admin}}
                <button  onclick="window.location.href='newConcert.html'" type="button" class="btn btn-dark">New Concert</button>
                <button onclick="window.location.href='newArtist.html'" type="button" class="btn btn-dark">New Artist</button>
            {{/admin}} 
            <div class="navButtons">
                <button onclick="window.location.href='/user/{{id}}'" type="button" class="btn btn-dark">User page</button>
                
                <form action="/logout" method="post" class="d-inline">
                    <button class="btn btn-dark btn-nowrap" type="submit">Log Out</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </form>
                <button  type="button" class="btn btn-success">{{userName}}</button>
            </div>       
        {{/logged}}
    </div>

    {{^logged}}
    <div class="navButtons">
        <button onclick="window.location.href='/register'" type="button" class="btn btn-dark">Register</button>
        <button onclick="window.location.href='/login'" type="button" class="btn btn-dark">Login</button>
    </div>
    {{/logged}}
</header>
