<header class="header">
    <div class="logo">
        <a href="index.html">
            <img src="/images/whiteHorizontalLogo.png" alt="TICKETZONE FEST Logo">
        </a>
    </div>

    <h1 id="title">TICKETZONE FEST</h1>

    <div class="navButtons">
        {{#logged}}
            {{#admin}}
                <button  onclick="window.location.href='newConcert.html'" type="button" class="btn btn-primary">New Concert</button>
                <button onclick="window.location.href='newArtist.html'" type="button" class="btn btn-primary">New Artist</button>
            {{/admin}}        
            <button onclick="window.location.href='userPage.html'" type="button" class="btn btn-primary">User page</button>
        {{/logged}}
    </div>

    {{^logged}}
    <div class="navButtons">
        <button onclick="window.location.href='/register'" type="button" class="btn btn-dark">Register</button>
        <button onclick="window.location.href='login.html'" type="button" class="btn btn-dark">Login</button>
    </div>
    {{/logged}}
</header>
